# --- IGNORE ---
# Ignore all PDFs and docs in these folders
Notes and Assignments/ 
Data Structure Documents/
**/lab_pdfs/ 
**/assignment_pdfs/
**/program_pdfs/

# Ignore peer review folder
cecs-277-sec8/peer_review/

# Ignore IDE metadata, personal settings
.idea/
.vscode/

# Ignore Python cache and virtual environments
# Java
*.class
*.jar
*.war
target/

# Python:
__pycache__/
*.pyc
*.pyo
.env 
venv/

# Ignore compiled binaries
*.exe
*.o
*.obj

# Ignore system files
.DS_Store
Thumbs.db